*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-- sets the background color for webpage --*/ 
body{
   background-color: rgb(224, 220, 224);
}

/* -------header styling -------- */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(67, 67, 80);
    height: 135px;
}

/*-- styling for nav, ul, li and a elements in the header section --*/

nav{
    height: 50px;
    width: 50%;
    margin-right: 53px;
    float: right;
}

ul{
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    margin-top: 18px;
    color: limegreen;
}

li{
    display: inline;
    width: fit-content;
    margin: 0 auto 0 auto;
}

/* this is responsible for the header link elements style */
a{
    width: fit-content;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    color: aquamarine;
    border-bottom-style:solid ;
    border-color: aquamarine;
 }

/*- when the user hovers over the li element, the font color and border color change to yellow */ 
li:hover a{
    color: yellow;
    border-bottom-color: yellow ;
    
}

/* ----- this is the hero image ------*/

/* sets the height and width for hero banner */
.hero{
    height: 250px;
    width: 100%;
    position: relative;
    z-index: 1;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* sets the position and styling for welcome span */
#welcome{
    font-size: 45px;
    text-align: center;
    color: rgb(67, 67, 80);
    display: block;
    background-color: aquamarine;
    position: absolute;
    bottom:15px;
    right: 250px;
    width: 300px;
    z-index: 2;
}

/*--- all styles pertaining to main section are here --*/
main{
    display: flex;
    flex-direction: column;
    height: 40%;
}

main, footer{
    width: 85%;
    margin: 0px auto 0px auto;
}


aside{
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
}

/* this code styles the span inside the asides h2 element */

#me-change{
    display: block;
    font-size: 42px;
}

p{
    height: fit-content;
    width: 75%;
    padding: 20px;
    text-align: center;
    margin: auto;
}

section{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    margin-top: 15px;
}


.container{
    width: 75%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*-- this where the headers are styled for header, main and footer sections --*/

h3{
    width: fit-content;
    background-color: aquamarine;
    color: rgb(67, 67, 80);
    position: absolute;
    bottom: 10px;
    
}

h1{
    width: fit-content;
    font-size: 42px;
    margin-top: 0;
    margin-left: 53px;
    color: aquamarine;
}

h2{
    font-size: 42px;
    width: 25%;
    height: fit-content;
    text-align: right;
    border-color:  rgb(67, 67, 80);
    border-right-style: solid;
    padding-right: 20px;
    margin-bottom: auto;
    margin-top: auto;
    color:  rgb(67, 67, 80);
    
}

/* this sets the display for project headings */
.sub-heading{
    display: block;
}

#work-heading{
    width: 25%;
    height: 535px;
    border-right-style: solid;
    margin: 0;
}
/*-- styles all the poject cards  and sets the background image for each porject card --*/
/*-- all project cards are given their initial dimensions and style properties --*/
.project{
    width: calc(50% - 10px);
    height: 100px;
    border-style: solid;
    border-color: aquamarine;
    position: relative;
    color: aliceblue;
    margin: 9px 5px 9px 5px;
    position: relative;
    
   }
   /*-- if you hover over the project card, its opacity is lessened --*/
.project:hover {
    opacity: 1;
}

/* this is where the project one card is made larger than the other project cards */
#one{
    width: 100%;
    height: 300px;
    margin-top: 0px;
    background-image: url(./tech-picture3.jpg);
    background-repeat:no-repeat;
    background-position: contain;
}

/*-- this is where the background images are set for the remaining project cards */
#two{
    background-image: url(./tech-picture4.jpg);
}

#three{
    background-image: url(./tech-picture5.jpg);
}

#four{
    background-image: url(./tech-picture2.jpg);

}

#five{
    background-image: url(./tech-picture1.jpg);
}

/*--each card is made more opaque, or, lighter --*/
#one, #two, #three, #four, #five{
    opacity: .70;
}

/*-- this where the hover effect is applied to each project card  from one to five --*/
#one:hover{
    opacity: 1;
}

#two:hover{
    opacity: 1;
}

#three:hover{
    opacity: 1;
}

#four:hover{
    opacity: 1;
}

#five:hover{
    opacity: 1;
}

/* -- footer section styles for footer elements -- */

footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75px;
}

footer h2{
    margin-left: 90px;
}

/*below is where all the nav, ul, li and a elements in the footer section are styled */
footer nav{
    width: 75%;
    margin-top: 19px;
}

footer ul{
    margin-top: 0px;
}

footer ul li{
    text-align: center;
    height: fit-content;
}

footer ul li a{
    color:  rgb(67, 67, 80);
    border-color:rgb(67, 67, 80) ;
}



/*-- here is where the media query code is held along with all the affected elements --*/
@media screen and (max-width:700px){

    /* ---------header section---------- */
    /* changes flex direction to column so items stack certically */
    header{
        flex-direction: column;
        height: 75px;
    }

    h1{
        margin-left: 0px;
        font-size: 32px;
    }

    header nav{
        width: 100%;
        margin-right: 0px;
    }

    a{
        font-size: 16px;
    }

   #welcome{
    left: 100px;
   }
   /*-------------------------------------------*/

   /*stacks the aside and project container vertically */
    section{
        flex-direction: column;
    }

    /* aside section styling */
    aside{
        height: fit-content;
        flex-direction: column;
    }

    aside h2{
        width: 100%;
        text-align: center;
        border-right-style: none;
        margin-top: 15px;
        font-size: 42px;
    }

    aside p{
        width: 100%;
    }

    #me-change{
        display: inline;
    }
    /*--------------------------*/
    #work-heading{
        height: fit-content;
        width: 100%;
        text-align: center;
        border-right-style: none;
        margin-bottom: 15px;
    }
    /*changes the flex direction so project cards stack vertically */
    .container{
        width: 100%;
        flex-direction: column;
        height: fit-content;
    }

     /* this makes the background images fit without repeating*/
     #one, #two, #three, #four, #five{
        width: 100%;
        background-size: cover;
    }

    h3{
        left: calc((100% - 92px) / 2);
        bottom: 0px;
    }


    /*-------foooter section --------*/

    /* changes flex direction to column */
    footer{
        flex-direction: column;
    }
     footer nav{
        width: 100%;
     }

    footer h2{
        width: 100%;
        text-align: center;
        border-right-style: none;
        margin-left: 0px;
    }

    footer ul li{
        width: 35%;
        margin-bottom: 10px;
    }

    footer ul{
        width: 100%;
        flex-wrap: wrap;
    }
}